SECRET_KEY = 'django-insecure-)75ie+f9$36qfey@5$8hpp-so9icp)#@1nxo7+wo3g3t(o2k7i'

DEBUG=True/False

DATABASE_NAME=django.project
DATABASE_USER=postgres
DATABASE_PASSWORD=4815
DATABASE_HOST=localhost
DATABASE_PORT=5432